<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jw.horsemanager">

    <uses-sdk android:maxSdkVersion="26" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.HomeScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.AddEditHorse"
            android:label="@string/title_activity_add_horse"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.AddEditFeedingSchedule"
            android:label="@string/title_activity_add_edit_feeding_schedule"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.FeedingScheduleList"
            android:label="@string/title_activity_feeding_schedule_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.ChooseRepeat"
            android:theme="@android:style/Theme.Holo.Dialog" />
    </application>

</manifest>